services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres 
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: hilo_rojo
    ports:
      - "5432:5432"
    volumes:
      - hilo_rojo_postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    restart: on-failure
    container_name: backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "8080:8080"
    depends_on:
      - backend

volumes:
  hilo_rojo_postgres_data:
    name: hilo_rojo_postgres_data