.box {
    background-color: #fef9f9;
    border-radius: 30px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    width: 60%;
    height: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.scrollable-container {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}
.color-boton {
    background-color: #FE7877;
    color: #FEEFEF;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
}

.color-boton:hover {
    background-color: #efdddd;
}   
.match-img {
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 70%;
    object-fit: cover;
    text-align: center;
    padding-bottom: 2%;
}
.image {
    width: 96px;
    height: 96px;
}

.foto{
    width: 96px;
    height: 96px;
    border-radius: 50%;
    object-fit: cover;
}
.match-footer {
    background-color: #FE7877;
    border-top: #FE7877;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.match-footer .card-footer-item {
    border: none;
}

.contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.title {
    color: #6d6767;
}
.letra {
    color: #6d6767;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
}
.content {
    color: #8b8484;
}
body {
    display: block;
}

/* El overlay cubre toda la pantalla */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: none; /* Oculto por defecto */
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Contenido del overlay */
.overlay-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

/* Botones alineados */
.overlay-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}