*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FEEFEF;
    height: 100vh;
    display: grid;
    grid-template-rows: 15% 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "navbar navbar"
        "editor vista-previa";
}
li, a, .boton{
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    color: #FEEFEF;
}
.boton{
    padding: 10px 25px;
    border: none;
    background-color: #FEEFEF;
    color: #FE7877;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.boton:hover{
    background-color: #efdddd;
}
.logo{
    width: 60px;
    height: 60px;
    object-fit: contain;
    cursor: pointer;
    flex-shrink: 0;
}
nav{
    grid-area: navbar;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: #FE7877;
    gap: 20px;
}
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-links li{
    display: inline-block;
}
.nav-links li a{
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover{
    color: #facfcf;
}
.nav-botones{
    display: flex;
    gap: 10px;
    margin-left: auto;
}
.editar-perfil{
    grid-area: editor;
    padding: 30px 30px;
    overflow-y: auto;
}
.editar-perfil strong{
    font-size: 28px;
    color: #FE7877;
    margin-bottom: 20px;
    display: block;
}
.editar-perfil-form{
    background-color: #fef9f9;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}
.editar-perfil-form label{
    display: block;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}
.editar-perfil-form input{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #FE7877;
    border-radius: 10px;
    margin-bottom: 20px;
}
.editar-perfil-form input:focus{
    outline: none;
    border-color: #fa9f9f;
}
.editar-perfil-form textarea{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #FE7877;
    border-radius: 10px;
    margin-bottom: 20px;
    resize: vertical;
}
.editar-perfil-form textarea:focus{
    outline: none;
    border-color: #fa9f9f;
}

.vista-previa{
    grid-area: vista-previa;
    background-color: #f9e7e7;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}
.vista-previa strong{
    font-size: 28px;
    color: #FE7877;
    margin-bottom: 20px;
    display: block;
}
.carta-perfil{
    background-color: #fef9f9;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    text-align: left;
}
.letra {
    color: #6d6767;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 10px;
}
.carta-perfil p{
    font-size: 20px;
    color: black;
    margin-top: 10px;
    margin-bottom: 5px;
    word-break: break-all;
}
body.pag-citas{
    display:block;
    height: auto;
    overflow-y: auto;
}
.contenedor-citas {
    padding: 30px 10%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.bloque-citas {
    width: 100%;
}
strong.strong1{
    font-size: 28px;
    color: #FE7877;
    margin-bottom: 20px;
    display: block;
}
.lista-citas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
.tarjeta-cita {
    background-color: #fef9f9; /* Tu color de fondo de carta */
    border-radius: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
}
.foto-cita {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    border: 2px solid #FE7877;
}
.info-cita p {
    font-size: 18px;
    color: #6d6767;
}
.info-cita {
    flex-grow: 1;
}
.calificar-cita-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px 10px;
    margin-top: 10px;
    text-align: left;
    align-items: center;
}
.calificar-cita-form label{
    font-size: 18px;
    font-weight: 400;
}
.calificar-cita-form > * {
    grid-column: span 2;
}
.calificar-cita-form input, .calificar-cita-form textarea{
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 2px solid #FE7877;
    border-radius: 10px;
    margin-bottom: 10px;
    resize: none;
}
.calificar-cita-form input[type="number"] {
    grid-column: span 1;
}
.calificar-cita-form input:focus,
.calificar-cita-form textarea:focus{
    outline: none;
    border-color: #fa9f9f;
}
.modal-calificacion-cita {
    display: block;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #fef9f9;
    width: 100%;
    max-width: 700px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.3);
}
.opciones-repetir-cita {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}
.opciones-repetir-cita input {
    width: auto;
    margin-bottom: 0;
    cursor: pointer;
    accent-color: #FE7877;
    transform: scale(1.2);
}
.opciones-repetir-cita label {
    font-size: 18px;
    font-weight: 400px;
}
.cerrar-modal {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    color: #FE7877;
    cursor: pointer;
}